{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<style>
    
</style>

<div class="products">
    {{ form_start(form) }}
        <label>Tax Code
            <input type="text" name="tax_code" />
        </label>
    {{ form_end(form) }}
</div>
{% endblock %}
